.mycard {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    min-width: 300px;
    max-width: 300px;
    height: 420px;
    background-color: black;
    margin: 10px;
    color: white;
    padding:0 10%;

}

/* .img_photo
{
    padding-right: 30px;
    height:60px;
} */